    <nav class="navbar">
             <!-- Just an image -->
             <div class="d-flex justify-content-start">
                 <a class="navbar-brand" routerLink="/accueil">
                     <img src="../../../assets/img/logo copo-yam.png" width="250" height="50" alt="logo-accueil">
                 </a>
             </div>

            <ul class="nav justify-content-end">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Marine
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="/marine/waverunners">Waverunners</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" routerLink="/marine/two-stroke-engines">Moteurs 2 temps</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" routerLink="/marine/four-stroke-engines">Moteurs 4 temps</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Route
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="/road/scooters">Scooters</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" routerLink="/road/motorcycles">Motos</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Accessoires et vesimentaires
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="/">Marine</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" routerLink="/">Route</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" routerLink="/">Vêtements</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      SAV
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="/ass/maintenance">Maintenance</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" routerLink="/ass/detached-pieces">Pièces détachées</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" routerLink="/ass/yamalube">Yamalube</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" routerLink="/ass/island-tours">Tournées dans les îles</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" routerLink="/pro-market">Marché Pro</a>
                </li>

            </ul>
    </nav>
