.navbar{
    background-color: #d52b1e;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

.nav-link{
    color: #fff;
    font-weight: bold;
}

.dropdown-menu{
    background-color: #d52b1e;
}

.dropdown-item{
    color: #fff;
    font-weight: bold;
}