<app-nav-business></app-nav-business>
<app-nav-products></app-nav-products>
<div style="height: 60vh;">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/dXl0AfRNHho?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<h1 class="text-center mt-5 mb-3">Nos produits</h1>
<div class="row">
    <div class="col-12 col-lg-3">
        <div style="position: relative;">
            <div style="position: absolute; width: 100%; bottom: 20px;">
                <div class="text-center">
                    <button routerLink="/" class="btn btn-danger" type="button">Voir plus</button>
                </div>
            </div>
            <img src="../../../assets/img/waverunner.jpg" class="img-bloc" alt="">
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div style="position: relative;">
            <div style="position: absolute; width: 100%; bottom: 20px;">
                <div class="text-center">
                    <button routerLink="/" class="btn btn-danger" type="button">Voir plus</button>
                </div>
            </div>
            <img src="../../../assets/img/moteur.jpg" class="img-bloc" alt="">
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div style="position: relative;">
            <div style="position: absolute; width: 100%; bottom: 20px;">
                <div class="text-center">
                    <button routerLink="/" class="btn btn-danger" type="button">Voir plus</button>
                </div>
            </div>
            <img src="../../../assets/img/scooter.jpg" class="img-bloc" alt="">
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div style="position: relative;">
            <div style="position: absolute; width: 100%; bottom: 20px;">
                <div class="text-center">
                    <button routerLink="/" class="btn btn-danger" type="button">Voir plus</button>
                </div>
            </div>
            <img src="../../../assets/img/moto.jpg" class="img-bloc" alt="">
        </div>
    </div>
</div>
<h1 class="text-center mt-5 mb-3">Nos nouveautés</h1>
<p class="text-center">Découvrez nos nouveaux produits disponibles au showroom situé à Fare Ute.
</p>
<img src="../../../assets/img/delight.jpg" style="width: 100%; height: 60%;" alt="">
<div class="container">
    <h3 class="text-center mt-3">Le d’elight</h3>
    <p class="text-justify">Le D’elight c’est la sérénité ! Le meilleur rapport qualité/prix de la gamme Yamaha !
        Le nouveau 125cc urbain de Comptoir Polynésien – Yamaha Tahiti affiche une consommation de carburant de seulement 1,8L/100km.
        Son empreinte carbone est de l’ordre de 43g/km. Il est équipé de la technologie START&STOP et est disponible en noir, en blanc et en rouge.
    </p>
    <h4 class="text-center">Prix de lancement : 299 000 XPF TTC</h4>
    <div class="text-center">
        <button routerLink="/" class="btn btn-danger mt-3" type="button">Voir plus</button>
    </div>
</div>
<h1 class="text-center mt-5 mb-3">Notre actualité</h1>
<div class="container">
    <p class="text-justify">Événements, actualités, offres exclusives, nouvel arrivage, livraison client…
        Découvrez ce qu’il se passe au sein de l’univers  Comptoir Polynésien – Yamaha Tahiti.
    </p>
    <div class="text-center">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fyamaha.tahiti&tabs=timeline&width=500&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
    <div class="text-center">
        <button routerLink="/" class="btn btn-danger mt-3" type="button">Voir plus</button>
    </div>
</div>
<h1 class="text-center mt-5 mb-3">Notre Service Après Vente</h1>
<img src="../../../assets/img/sav.jpg" style="width: 100%; height: 80%;" alt="">
<div class="container">
    <p class="text-justify mt-3">Notre équipe du Service Après Vente est à votre disposition pour réaliser une analyse complète de votre engin avec les outils de diagnostiques adaptés.</p>
</div>
<div class="text-center">
    <button routerLink="/" class="btn btn-danger mt-3" type="button">Voir plus</button>
</div>
<h1 class="text-center mt-5 mb-5">Nos marques distribuées</h1>
<div class="row">
    <div class="col-12 col-lg-4 text-center">
        <img src="../../../assets/img/logo-nexx.jpg" style="width: 80%; height: 80%;" alt="">
    </div>
    <div class="col-12 col-lg-4 text-center">
        <img src="../../../assets/img/logo-yamaha.jpg" style="width: 60%; height: 40%;"alt="">
    </div>
    <div class="col-12 col-lg-4 text-center">
        <img src="../../../assets/img/logo-yamalube-blue.png" style="width: 60%; height: 40%;" alt="">
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-4 text-center">
        <img src="../../../assets/img/logo-yamalube-red.jpg" style="width: 80%; height: 80%;" alt="">
    </div>
    <div class="col-12 col-lg-4 text-center">
        <img src="../../../assets/img/logo-shad.jpg" style="width: 80%; height: 80%;" alt="">
    </div>
    <div class="col-12 col-lg-4 text-center">
        <img src="../../../assets/img/logo-dafy.png" style="width: 80%; height: 80%;" alt="">
    </div>
</div>

<app-footer></app-footer>
