<app-nav-business></app-nav-business>
<app-nav-products></app-nav-products>

<h1 class="text-center mt-3 mb-3">Waverunners</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center mt-5 mb-3">Découvrez notre gamme de WaveRunner : surfez une vague d’adrénaline</h3>
            <p class="text-justify">
                Notre marque est synonyme de plaisir et d’émotion : celle que nous ressentons lorsque nous concevons nos produits et celle que nous vous oﬀrons à travers eux. Elle représente la recherche constante d’amélioration et d’innovation, tant dans le domaine de la conception que dans notre vision. Nous incarnons la qualité et la ﬁabilité, mais ce qui importe le plus, c’est la passion que nous mettons dans tout ce que nous faisons.
            </p>
        </div>
    </div>
</div>

<!-- carrousel -->
<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../../../assets/img/vahine on wave.jpg" alt="Random second slide" width="100%">
        </div>
        <div class="carousel-caption">
            <h3>Vahiné Fierro</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../../../assets/img/waverunners.png" alt="Random first slide" width="100%">
      </div>
      <div class="carousel-caption">
          <h3>Compétition</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../../../assets/img/wave.jpg" alt="Random second slide" width="100%">
        </div>
        <div class="carousel-caption">
            <h3>Dans les îles</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
</ngb-carousel>

<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="text-justify mt-5">
                Derrière chaque WaveRunner se cache un héritage d’innovation en matière de conception et d’ingénierie qui nous a toujours permis de proposer les machines les plus ﬁables, les plus performantes et les plus attractives au monde. Que ce soit Loisir, Navigation ou Sport, chaque segment est conçu pour un type de pilote. Peu importe vos aspirations, vous trouverez un WaveRunner qui vous correspond parfaitement. De l’extrême polyvalence très prisée de la gamme VX aux fonctionnalités luxueuses et aux innovations de la gamme FX, en passant par les performances incroyables de la gamme GP1800R, nous avons voulu obtenir exactement ce que vous attendez en repensant nos WaveRunners pour votre plus grand plaisir.
                <br><br>
                Qu’il s’agisse de loisirs, de moments passés seuls ou avec vos proches, qu’il s’agisse de victoire ou de faire monter l’adrénaline dans vos veines, nous sommes là pour faire battre votre cœur un peu plus vite !
                <br><br>
                Si vous aussi vous voulez partager cette passion dans les eaux polynésiennes, contactez nous pour commander votre waverunner.
            </p>
            <div class="text-center">
                <button class="btn btn-danger mt-3 mb-5" type="button">
                    <a class="mail" href="mailto:mailto:contact@comptoirpolynesien.pf" style="color: #fff">Contactez nous</a>
                </button>
            </div>
        </div>
    </div>
</div>


        
<app-footer></app-footer>