<app-nav-business></app-nav-business>
<app-nav-products></app-nav-products>

<h1 class="text-center mt-3 mb-3">Contact</h1>
<div class="container">
   <h3 class="text-center mt-5">Nos coordonnées</h3>
    <div class="row mt-5">
        <div class="col-6">
            <h5>Showroom Comptoir Polynésien – Yamaha Tahiti</h5>
            <ul>
                <li>Tel : +(689) 40 50 57 50 </li>
                <li><a class="mail" href="mailto:mailto:contact@comptoirpolynesien.pf">Mail : contact@comptoirpolynesien.pf</a></li>
            </ul>
        </div>
        <div class="col-6">
            <h5>SAV Comptoir Polynésien – Yamaha Tahiti</h5>
            <ul>
                <li>Tel : +(689) 40 43 74 75</li>
            </ul>
            <p class="text-justify">Notre Service Après Vente situé à Fare Ute, en face de Cégélec, vous accueille du lundi au jeudi de 07h00 à 15h30 et le vendredi de 07h00 à 14h30.
            </p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <h3 class="text-center mt-5">Nous contacter</h3>
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Adresse mail</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="message">Message</label>
                  <input type="text" class="form-control message" id="message">
                </div>
                <div class="form-group form-check">
                </div>
                <button type="submit" class="btn btn-danger">Envoyer</button>
              </form>
        </div>
    </div>
</div>

<app-footer></app-footer>