<app-nav-business></app-nav-business>
<app-nav-products></app-nav-products>

<h1 class="text-center mt-3 mb-3">Maintenance</h1>
<div class="back-maintenance" style="width: 100%; height: 50vh;">
</div>

<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h4 class="mt-5">Le meilleur</h4>
            <p class="text-justify mt-3">
                Chaque Yamaha qui est vendu pour procurer à son utilisateur un plaisir à long terme pouvant s’étaler sur de nombreuses années. La marque produit des engins innovants, que cela soit sur la technologie et le design. De plus, Yamaha a pour ambition de vous offrir des performances inédites avec une qualité optimale.
            </p>
            <h4 class="mt-5 mb-3">Pourquoi faire entretenir votre Yamaha chez nous ?</h4>
            <ul class="text-justify">
                <li>L’équipe de Comptoir Polynésien connaît parfaitement votre Yamaha</li>
                <li>Les mécaniciens suivent une formation dans un centre de formation Yamaha en Australie ou au Japon </li>
                <li>Ils ont les informations récentes ainsi que les mises à jour</li>
                <li>L’atelier est parfaitement équipé pour qu’ait lieu des interventions rapides</li>
                <li>Les membres de l’équipe aiment leur métier et prennent grand soin de votre engin</li>
                <li>Les pièces et accessoires d’origine sont utilisés</li>
                <li>Ils sont présents pour vous conseiller au mieux</li>
                <li>Les forfaits d’entretien offrent des coûts de maintenance transparents</li>
                <li>Vous pourrez revendre votre Yamaha à un prix optimal</li>
            </ul>
            <h4 class="mt-5">Des données techniques et des équipements récents</h4>
            <p class="text-justify mt-3">
                Choisir le concessionnaire Yamaha, c’est faire le choix d’avoir l’esprit tranquille. En effet, grâce à leur connaissance des produits, notre équipe veille à ce que votre engin soit toujours efficace, fiable et offrant des performances optimisées.
                <br><br>
                En plus de cela, notre atelier est entièrement doté d’outils et d’équipements spéciaux et spécifiques permettant aux mécaniciens d’effectuer l’entretien et la réparation efficace de votre Yamaha. De plus, ils sont les seuls en mesure de réaliser les mises à jour nécessaires lors d’une maintenance régulière.
            </p>
            <h4 class="mt-5">Un meilleur rapport Qualité/Prix</h4>
            <p class="text-justify mt-3">
                Notre équipe est soucieuse  des engins qui arrivent à l’atelier. C’est avec précaution que les mécaniciens réparent les engins avec des pièces et des accessoires d’origine afin de garantir un fonctionnement sur le long terme.
                <br><br>
                L’utilisation des bons outils et des bons modèles par notre équipe permet de vous offrir une meilleure qualité de service à un prix raisonnable.
            </p>
            <h4 class="mt-5">Un coût de maintenance transparent</h4>
            <p class="text-justify mt-3">
                Quand vous souhaitez avoir le coût d’un entretien sur votre Yamaha, nous sommes en mesure de vous fournir le devis exact pour le travail requis. Pour cela, il vous suffit de prendre contact auprès d’un de nos techniciens. Grâce à cela, vous savez exactement ce que vous devez payer.
            </p>
            <h4 class="mt-5">Une valeure à la revente améliorée</h4>
            <p class="text-justify mt-3">
                Choisir d’entretenir son engin chez Yamaha, c’est vous assurer que votre engin est entretenu de manière professionnelle et cela vous permet également d’augmenter sa valeur lors de la revente.
                <br><br>
                Etre muni de l’historique de service d’un produit est systématiquement plus appréciable et attrayant pour un acheteur potentiel, que cela soit un particulier comme un professionnel. La maintenance de votre Yamaha doit ainsi être perçu comme étant un investissement pour le futur.            
            </p>
            <h4 class="mt-5">Pièces d’origine et lubrifiants Yamalube
            </h4>
            <p class="text-justify mt-3">
                Les mécaniciens de chez Yamaha ont les connaissances et le savoir-faire technique. Ils  sauront  adapter les pièces d’origine, utiliser les huiles, lubrifiants et produits d’entretien Yamalube pour  votre engin.
                <br><br>
                Ces pièces et lubrifiants de qualité ont été testés et approuvés par les ingénieurs qui ont conçu votre Yamaha. Ce qui signifie que votre engin fonctionnera encore pendant des années de manière efficace.
            </p>
        </div>
    </div>
</div>

        
<app-footer></app-footer>