<nav class="navbar navbar-dark bg-dark justify-content-end">
    <!-- Just an image -->
    <!-- <a class="navbar-brand" href="accueil.html">
      <img src="../../../assets/img/logo copo-yam.png" width="300" height="30" alt="logo-accueil">
    </a> -->
    
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/accueil">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/who-we-are">Qui sommes-nous ?</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/actuality">Actualité</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/join-us">Nous rejoindre</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <a class="navbar" routerLink="/accueil">
            <img class="bg-white" src="../../../assets/img/user.svg" width="30" height="30" alt="logo-accueil">
          </a>
    </ul>
</nav>