<app-nav-business></app-nav-business>
<app-nav-products></app-nav-products>

<h1 class="text-center mt-3 mb-3">Notre actualité</h1>
<div class="container">
    <p class="text-align-justify">Vous pouvez nous suivre sur nos réseaux sociaux Facebook et Instagram pour vous tenir informez de toute l'actualité du moment, des nouveautés, et bien plus encore...</p>
    <a href="https://www.facebook.com/yamaha.tahiti">
            <img src="../../../assets/img/facebook.svg" style="height: 50px; width:50px;" alt="facebook">
        </a>
        <a href="https://www.instagram.com/yamahatahiti/">
            <img src="../../../assets/img/instagram.svg" class="ml-3" style="height: 50px; width:50px;" alt="instagram">
        </a>
    <div class="text-center mt-5 mb-3">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fyamaha.tahiti&tabs=timeline&width=500&height=1500&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=true&appId" width="500" height="1500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
</div>

<app-footer></app-footer>