<app-nav-business></app-nav-business>
<app-nav-products></app-nav-products>

<h1 class="text-center mt-3 mb-3">Motos</h1>
<div class="back-moto mt-3" style="width: 100%; height: 60vh;">
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center mt-5 mb-5">Découvrez notre gamme de produits motos</h3>
            <p class="text-justify">
                Parcourez tous les modèles de la gamme motos. Comptoir Polynéssien dispose aujourd’hui d’une gamme de produits adaptés à tous les besoins du marché local. Vous saurez trouver celui qu'il vous faut pour piloter en toute sérénité que cela soit sur les routes dans les îles les plus éloignées comme sur des routes tout à fait urbanisés. Qualité, performance et robustesse sont les mots d'ordre qui caractérise les scooters de la marque Yamaha. Une réputation qui n'est plus à faire. 
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-3 mb-5" *ngFor="let moto of motos">
        <div class="col-6">
            <img src="{{moto.image}}" width="70%" alt="">
        </div>
        <div class="col-6">
            <h5 class="mt-5">{{moto.name}}</h5>
            <p class="text-justify mt-3">{{moto.description}}</p>
            <div class="text-center">
                <i class="btn btn-danger" type="button" (click)="filterById(moto.id)">Voir plus</i>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>