<app-nav-business></app-nav-business>
<app-nav-products></app-nav-products>

<h1 class="text-center mt-3 mb-3">Nous rejoindre</h1>
<div class="container">
   <h3 class="text-center mt-5 mb-3">Rejoignez-nous et partagez notre passion</h3>
    <p class="text-justify">Comptoir Polynésien- Yamaha Tahiti est une entreprise dynamique et passionné. La satisfaction client est au coeur de nos préoccupations, dans le but d’offrir à nos clients le Kando, un mot japonais qui décrit un moment d’expériences uniques. Le partage du Kando est un moment privilégié avec nos motos, scooters, moteurs hors-bord, WaveRunners, accessoires et/ou les services que notre équipe se charge de développer avec les clients.
        <br><br>
        Nos regards sont également tournés vers l’avenir. Nous réfléchissons comment nous pouvons répondre aux besoins changeants de nos clients tout en essayant de protéger l’environnement et sans perdre de vue les promesses que nous leur faisons.</p>
        <h3 class="text-center mt-5 mb-3">Ce que nous offrons</h3>
        <ul>
            <li>Un environnement de travail passionnant et ouvert, dans lequel vous pouvez mettre en œuvre et améliorer vos compétences et vos connaissances,</li>
            <li>Vous aurez également la possibilité de partager votre savoir-faire et d’échanger des informations avec des collègues, tout en relevant régulièrement de nouveaux défis,</li>
            <li>La possibilité d’améliorer constamment vos compétences grâce à des formations personnalisées,</li>
            <li>La possibilité, lorsque cela est possible, d’acquérir une expérience de travail dans l’un de nos bureaux,</li>
            <li>Des conditions spéciales pour profiter de nos passionnants produits : une fois par an, Yamaha Japon offre un tarif exclusif sur un produit choisi par un des collaborateurs (moto, waverunner, scooter, moteur hors-bords…) et un tarif  exceptionnel sur les accessoires et le textile.</li>
        </ul>
        <h3 class="text-center mt-5 mb-3">Offre d’emplois et de stages</h3>
        <div class="text-center">
            <img src="../../../assets/img/offre-copo.png" alt="">
        </div>
        <p class="text-center mt-5">
            Vous pouvez envoyer votre candidature spontanée, votre lettre de motivation et 
            votre CV à l’adresse 
            <a class="mail" href="mailto:mailto:direction@comptoirpolynesien.pf">direction@comptoirpolynesien.pf</a>
            <br><br>
           <strong>Nous sommes impatients de recevoir votre candidature !</strong> 
        </p>
    </div>

<app-footer></app-footer>