<app-nav-business></app-nav-business>
<app-nav-products></app-nav-products>

<h1 class="text-center mt-3 mb-3">Yamalube®</h1>
<div style="height: 60vh;">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/80Cd_IGfKzE?start=5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="container">
    <h4 class="text-center mt-5">Des lubrifiants et des produits d’entretien pour votre Yamaha</h4>
    <div class="row">
        <div class="text-justify mt-3 mb-5">
            <p>
                L’huile est un produit indispensable pour le bon fonctionnement des engins, c’est pour cette raison que la marque a créé cette gamme d’huile Yamalube® conçue spécialement pour les produits Yamaha.

                Dans notre showroom, vous trouverez la gamme de produits Yamalube® qui vous permettra de faire vos trajets en toute quiétude.
            </p>
            <div class="text-center">
                <img class="mr-3" src="../../../../../assets/img/sav-pieces-détachees/yamalube red.jpg" width="250px" alt="">
                <img src="../../../../../assets/img/sav-pieces-détachees/Yamalube_Logo.png" width="255px" alt="">
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 col-lg-4">
            <img src="../../../../../assets/img/sav-pieces-détachees/Reliable-Performance-4-1L.jpg" alt="">
        </div>
        <div class="col-12 col-lg-8">
            <h4 class="mb-3">Développés pour des performances optimales</h4>
            <p class="text-justify">
                Les produits Yamaha marine sont développés selon les critères les plus exigeants et sont conçus pour faire face aux conditions d’utilisation les plus rudes. Les huiles Yamalube® ont été développées pour répondre aux exigences spécifiques des ingénieurs Yamaha.
 
                La gamme de lubrifiants Yamalube® a été spécialement conçue pour les moteurs hors-bord et les Waverunner Yamaha. Huile, additifs et solvants sont choisis et mélangés pour aboutir à des lubrifiants en parfaite adéquation avec le fonctionnement de votre produit Yamaha marine.

                Yamalube® est impliquée en compétition et sponsorise entre autres le Champion de jet, Pierre Maixent. Grâce à d’innombrables victoires acquis en compétition, les produits Yamaha ont eu maintes fois l’occasion de démontrer la performance et la fiabilité des produits Yamalube®.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-lg-4">
            <img src="../../../../../assets/img/sav-pieces-détachees/YAMALUBE-PERFORMANCE-ENGINE-OIL-SAE-15W.png" alt="">
        </div>
        <div class="col-12 col-lg-8">
            <h4 class="mb-3">Lubrifiants 2 roues</h4>
            <h6>Développés pour des moteurs exceptionnels</h6>
            <p class="text-justify">
                Les lubrifiants Yamalube® ont été développés pour être utilisés dans les conditions les plus extrêmes et répondent aux besoins spécifiques des moteurs les plus performants, comme celui du TMax 560 cc.  Ces produits ont été conçus pour les embrayages à bain d’huile et sont compatibles avec les pots catalytiques.
            </p>
            <h6>Respect des normes JASO MA</h6>
            <p class="text-justify">
                Les huiles répondent aux normes JASO (Japanese Automotive Standards Organisation) et sont certifiées MA, elles garantissent ainsi une durée de vie optimale de l’embrayage, ne laissent pas de dépôt et sont anti-corrosion.
            </p>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-12 text-justify">
                <h6 class="mt-5">Étanchéité</h6>
                <p>
                    Les huiles Yamalube® forment un point d’étanchéité entre les segments du piston et la paroi du cylindre, ce qui empêche les pertes de compression dans la chambre de combustion, stabilise le taux de compression et améliore ainsi le rendement moteur.
                </p>
        
                <h6 class="mt-5">Passage de vitesse rapide et durée de vie prolongée</h6>
                <p>Les huiles Yamalube® renforcent et protègent les moteurs ainsi que les boites de vitesses. Elles permettent des changements de rapports encore plus rapides et assurent une longue vie à votre machine.
                </p>
        
                <h6 class="mt-5">Anti-corrosion et anti-mousse</h6>
                <p>Les huiles sont anti-corrosion et anti-mousse ce qui offre un maximum de protection pour le moteur.</p>
        
                <h6 class="mt-5">Lubrification</h6>
                <p>La composition des huiles Yamalube® permet de réduire le frottement et d’offrir plus de performance tout en protégeant les joints et les pistons.
                </p>
        
                <h6 class="mt-5">Pouvoir nettoyant</h6>
                <p>Les impuretés et la crasse peuvent s’accumuler à l’intérieur des moteurs et affecter la performance. Les huiles Yamalube® permettent de les disperser sous forme de particules minuscules pour une meilleure lubrification.
                </p>
        
                <h6 class="mt-5">Des lubrifiants développés pour la performance</h6>
                <p>Yamalube® est largement impliquée en compétition. La marque sponsorise le MotoGP ou encore le Championnat du FIM de motocross. Avec toutes ces victoires en compétition, les motos Yamaha ont eu maintes fois l’occasion de
                    démontrer la performance et la fiabilité des produits Yamalube®.</p>
            </div>
        </div>
    </div>
</div>

        
<app-footer></app-footer>