.row{
    background-color: #d52b1e;
    color: #fff;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

li{
    list-style: none;
}

.mail{
    color: #fff;
}

h3{
    margin-top: 20px;
    font-weight: bold;
}