<div class="row text-center">
    <div class="col-12 col-lg-4 justify-content-center">
        <h3>Informations</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60872.3199296833!2d-149.60581278152446!3d-17.53041247983464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x769a3a192516fc37%3A0x81a4c9d3574fb112!2sShowroom%20YAMAHA%20TAHITI!5e0!3m2!1sfr!2sfr!4v1630569547721!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <p>Showroom YAMAHA TAHITI, <br>Papeete 98714, <br>Polynésie française</p>
    </div>
    <div class="col-12 col-lg-4 justify-content-center">
        <h3>Horaires</h3>
        <ul>
            <li class="mt-3">lundi: 07:30 - 16:30</li>
            <li class="mt-3">mardi: 07:30 - 16:30</li> 
            <li class="mt-3">mercredi: 07:30 - 16:30</li>
            <li class="mt-3">jeudi: 07:30 - 16:30</li> 
            <li class="mt-3">vendredi: 07:30 - 16:30</li>
            <li class="mt-3">samedi: 08:00 - 11:00</li> 
            <li class="mt-3">dimanche: FERMÉ</li> 
        </ul>
    </div>
    <div class="col-12 col-lg-4 justify-content-center">
        <h3>Contact</h3>
        <p>Tél: 40 50 57 50</p>
        <a class="mail" href="mailto:mailto:contact@comptoirpolynesien.pf">Mail : contact@comptoirpolynesien.pf</a>
        <h3 class="mt-5">Suivez-nous</h3>
        <a href="https://www.facebook.com/yamaha.tahiti">
            <img src="../../../assets/img/facebook.svg" style="height: 50px; width:50px;" alt="facebook">
        </a>
        <a href="https://www.instagram.com/yamahatahiti/">
            <img src="../../../assets/img/instagram.svg" class="ml-3" style="height: 50px; width:50px;" alt="instagram">
        </a>
    </div>
</div>