<app-nav-business></app-nav-business>
<app-nav-products></app-nav-products>

<h1 class="text-center mt-3">Qui sommes-nous ?</h1>
<img src="../../../assets/img/qui sommes-nous.png" width="100%" alt="">

<div class="row mt-5 mb-5">
    <div class="col-12 col-lg-6">
        <img src="../../../assets/img/passion.jpg" style="width: 100%;" alt="">
    </div>
    <div class="col-12 col-lg-6 mt-5">
        <h2 class="text-center mt-5 mb-3">Notre histoire</h2>
        <p>Fondé le 1er juillet 1955, le groupe YAMAHA est  aujourd’hui présent dans 31 pays.
            <br> <br>
            C’est en 1981 que Comptoir Polynésien – Yamaha Tahiti devient le distributeur et concessionnaire officiel de la marque Yamaha en Polynésie Française.
            <br> <br>
            Spécialisé dans la vente de moteurs hors-bord,  de Waverunners, de Motos, de Scooters, et d’accessoires …,  Comptoir Polynésien – Yamaha Tahiti vous propose un large choix de produits.
            <br> <br>
            Depuis plus de 40 ans, Comptoir Polynésien – Yamaha Tahiti accompagne les particuliers et les acteurs économiques du Fenua dans leurs déplacements.</p>
            <p class="text-center"><strong>40 ans de passion que nous partageons avec vous! </strong>
            </p>
    </div>
</div>

<div class="row mt-5 mb-5">
    <div class="col-12 col-lg-8 text-justify">
        <h2 class="text-center mt-5 mb-5">Notre politique de développement durable</h2>
        <h4 class="text-center mb-3">Comptoir Polynésien s'engage pour les îles</h4>
        <p>Partenaire historique depuis plusieurs années, Comptoir Polynésien – Yamaha Tahiti accompagne l’Adie en participant activement au développement économique des archipels éloignés.
            <br> <br>L’Adie est l’association solidaire qui défend l’idée que chacun, même sans capital, même sans diplôme, peut devenir entrepreneur s’il a accès au crédit et à un accompagnement professionnel, personnalisé, fondé sur la confiance, la solidarité et la responsabilité.
            <br><br>
            Notre entreprise a mis en place un tarif spécial Adie afin d’aider les entrepreneurs locaux dans leurs activités nautiques et commerciales telles que la pêche.
            <br><br>
            Depuis son arrivée en Polynésie Française (2009), c’est plus de 3 500 personnes qui ont bénéficié de l’aide proposée par l’Adie.
        </p>
    </div>
        <div class="col-12 col-lg-4 mt-5">
            <img src="../../../assets/img/adi.jpg" style="width: 80%;" alt="">
        </div>
</div>

<div class="row mt-5 mb-5">
    <div class="col-12 col-lg-4 mt-3">
        <img src="../../../assets/img/témoignage.jpg" style="width: 100%;" alt="">
    </div>
    <div class="col-12 col-lg-8">
        <h4 class="text-center mb-3">Témoignage d'un bénéficiaire de l'Adie</h4>
        <p>Sylvain ROOTUEHINE est un pêcheur de Nuku Hiva, grâce à l’ADIE il a acquit un moteur Yamaha pour développer son activité, voici son histoire : <br>
            Âgé de 50 ans, Sylvain est un pêcheur solidaire de Nuku Hiva. Il pratique la pêche depuis son plus jeune âge et cela fait maintenant 7 ans qu’il possède une carte professionnelle de pêche. En 2018, il s’est rapproché de l’Adie pour l’achat de son moteur de bateau Yamaha.
            <br><br>
            Durant la crise sanitaire et lors du confinement du mois de mars 2020, il a dû ralentir son activité principale comme tous les pêcheurs de l’île. Il raconte : « c’était difficile pour moi de ne pas aller pêcher pendant 2 semaines car c’est une activité professionnelle qui est devenue une passion. »
            <br><br>
            Pendant cette période difficile, un pêcheur très connu de l’île avec la collaboration de la commune de Nuku Hiva lance l’idée d’aller pêcher afin de distribuer du poisson aux personnes les plus précaires. Sylvain s’est immédiatement porté volontaire pour procurer du poisson aux personnes âgées et familles dans le besoin.
            <br><br>
            « Lorsque j’ai eu connaissance de cette initiative, je me suis dit « pourquoi pas ? C’est ma façon d’aider les habitants de mon île ! » Une belle initiative de solidarité en ce temps de crise !
        </p>
    </div>
</div>

<div class="row mt-5 mb-5">
    <div class="col-12 col-lg-8 text-justify">
        <h2 class="text-center mt-5 mb-5">Nos ambassadeurs et nos partenaires va’a</h2>
        <h4 class="text-center mb-3">Comptoir Polynésien – Yamaha Tahiti partenaire des athlètes professionnels du fenua !</h4>
        <p>
           <strong>Vahine FIERRO, notre ambassadrice</strong> 
            <br><br>
            Vahine est une jeune polynésienne originaire de Huahine. Elle a grandi dans une famille très soudée, et ses parents lui ont appris à surfer dès l’âge de deux ans ! Aujourd’hui c’est une étoile montante dans cette discipline et avec un beau palmarès .
            <br><br>
            En janvier 2018, elle remporte le championnat du monde junior WSL en Australie, en tant que wild card, ce qu’elle considère toujours comme le meilleur résultat de sa vie. Elle a aussi participé à deux CT : la Roxy Pro de Hossegor en 2018 et 2019 et à chaque fois, elle a terminé 9e, en battant notamment Caroline Marks en 2018.
            <br><br>
            Elle s’est affirmée en prenant un énorme tube sur la vague de Teahupo’o. Pour apprivoiser le spot, elle a déménagé de Huahine et habite désormais devant Teahupo’o où elle se rend au spot en waverunner FX HO.
            <br><br><strong> <i>"C’est un honneur pour nous de la soutenir chaque année durant les compétitions de surf ! "</i></strong>
        </p>
    </div>
        <div class="col-12 col-lg-4 mt-5 text-center">
            <img src="../../../assets/img/EX SPORT_Vahine FIERRO.jpg" style="width: 60%; height: 100%;" alt="">
        </div>
</div>

<div class="row mt-5 mb-5">
    <div class="col-12 col-lg-4 mt-5 text-center">
        <img src="../../../assets/img/HINATEA-ET-TAHURAI.jpg" style="width: 100%; height: 100%;" alt="">
    </div>
    <div class="col-12 col-lg-8 mt-5 mb-3 text-justify">
        <h4 class="text-center mt-5 mb-3">Hinatea Boosie et Tahurai Henry, notre couple ambassadeur</h4>
        <p class="mt-5">
            Tahurai est un champion de bodyboard et surfeur de Teahupo’o. 
            <br><br> Sa campagne Hinatea est la Miss Tahiti 2008 et une  égérie de la célèbre marque de surf ROXY.  
            <br> Ce couple tient à cœur plusieurs valeurs telles que l’environnement, le bien-être, le sport ou encore l’écotourisme. 
           <br>Ensemble, ils ont créé à leur image « Tahurai Homestay Teahupo’o » où ils accueillent des surfeurs, des aventuriers ou des familles.  
           <br>Que ce soit pour aller au surf ou à la pêche, notre couple navigue à la presqu’île en waverunner ou en bateau équipé d’un hors-bord YAMAHA.
        </p>
    </div>
</div>

<div class="row mt-5 mb-5">
    <div class="col-12 col-lg-8 mt-5 text-justify">
        <h4 class="text-center mt-5 mb-3">Les clubs de va'a</h4>
        <p class="mt-5">
            En tant que sport traditionnel et emblématique du Fenua, Comptoir Polynésien – Yamaha Tahiti soutient depuis plusieurs années les clubs sportifs comme EDT VA’A et OPT VA’A lors des courses de pirogues.
  <br><br>L’entretien et la fourniture des moteurs hors bords des bateaux suiveurs  sont  primordiaux pour les équipes tant pendant les entrainements que pendant les compétitions internationales comme la mythique Hawaiki Nui.
        </p>
    </div>
        <div class="col-12 col-lg-4 mt-5 text-center">
            <img src="../../../assets/img/vaa.jpg" style="width: 100%; height: 100%;" alt="">
        </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h2 class="text-center mt-3 mb-5">Les valeurs de notre entreprise</h2>
            <p class="text-justify">
                Depuis que Genichi Kawakami,  fondateur de la marque, a créé Yamaha Motor en 1955, nous nous efforçons d’apporter le KANDO à TOUS nos clients ; et pas seulement avec nos produits.
                <br><br>
                KANDO est un terme japonais pour décrire la sensation de grande satisfaction et d’excitation que l’on ressent lorsqu’on dispose de quelque chose d’une valeur, d’une qualité et de performances exceptionnelles. Il s’agit d’une émotion exaltante qui ajoute du piquant à votre vie et fait battre votre cœur ! Nos produits et services ont été pensés et développés par des personnes qui aiment véritablement leur métier, et dont l’objectif est de vous offrir la meilleure expérience possible.
            </p>
            <div class="text-center mt-5 mb-5">
                <img src="../../../assets/img/kando.jpg" style="width: 50%;" alt="">
            </div>
            <p class="text-justify">
                Que vous vouliez vous engager en COMPÉTITION, RESSENTIR la passion du pilotage ou trouver la solution pour vous DÉPLACER plus intelligemment, nous vous proposons de découvrir les produits Yamaha qui vous offriront cette expérience KANDO, et nous espérons que votre cœur battra plus fort et qu’une étincelle brillera dans vos yeux.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3">
            <h5 class="text-center">ROBUSTESSE</h5>
        </div>
        <div class="col-3">
            <h5 class="text-center">ESPRIT DE DÉFI</h5>
        </div>
        <div class="col-3">
            <h5 class="text-center">PERSISTANCE</h5>
        </div>
        <div class="col-3">
            <h5 class="text-center">FIABILITÉ</h5>
        </div>
        <div class="col-12 text-center mt-5 mb-5">
            <img src="../../../assets/img/logo-yamaha.jpg" alt="">
        </div>
        <div class="col-4 text-justify">
            <h5 class="text-center">Créer de la valeur qui dépasse les attentes des clients</h5>
            <p class="text-justify">
                Pour continuer à produire de la valeur qui fait bouger les gens, nous devons rester parfaitement conscients de l’évolution des besoins du client.
                <br><br>
                Nous devons nous efforcer de réussir en surpassant toujours les attentes des clients avec des produits et services sûrs et de haute qualité.
            </p>
        </div>
        <div class="col-4 text-justify">
            <h5 class="text-center">Établir un environnement d’entreprise qui favorise l’estime de soi</h5>
            <p class="text-justify">
                Nous devons bâtir une culture d’entreprise qui encourage l’entreprise et améliore la vitalité de l’entreprise. L’accent sera mis sur le développement de la créativité et des capacités de nos employés, avec un système équitable d’évaluation et de récompenses.
            </p>
        </div>
        <div class="col-4 text-justify">
            <h5 class="text-center">Assumer ses responsabilités sociales à l’échelle mondiale</h5>
            <p class="text-justify">
                En tant qu’entreprise citoyenne, nous agissons dans une perspective mondiale et conformément aux normes mondiales. Nous devons mener nos activités d’entreprise dans le souci de l’environnement et des communautés et assumer notre responsabilité sociale avec honnêteté et sincérité.
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>