<app-nav-business></app-nav-business>
<app-nav-products></app-nav-products>

<h1 class="text-center mt-3 mb-3">Pièces détachées</h1>
<div class="back-pièces-détachées" style="width: 100%; height: 50vh;">
</div>

<div class="container">
    <div class="row mb-5">
        <div class="col-12 text-center mt-5">
            <h4 class="mt-5">Pièces d'origine</h4>
            <img src="../../../../../assets/img/kando.jpg" alt="">
            <p class="text-justify mt-3">
                Votre Yamaha est un véhicule sophistiqué qui a été produit à partir de composants à la pointe de la
                technologie. Les techniciens Yamaha ont à cœur de réaliser un travail soigné, et lorsqu’ils effectuent
                une révision ou qu’ils remplacent des pièces usées ou détériorées, ils utilisent toujours des pièces
                détachées d’origine Yamaha.
                <br><br>
                Vous pouvez être certain que chaque pièce d’origine Yamaha se monte parfaitement et qu’elle vous offrira
                le niveau de performance et d’efficacité que vous pouvez attendre de votre Yamaha.
                <br><br>
            </p>
            <p class="text-center"><strong>Soyez malin et pensez à l’origine, votre Yamaha ne mérite que le
                    meilleur.</strong> </p>
        </div>
    </div>
    <div class="row" style="background-color: #d52b1e;">
        <div class="col-12 text-center">
            <h4 class="mt-3 mb-3 text-white">{{nameProduct}}</h4>
            <img src="{{imageProduct}}" width="50%" alt="image">
            <p class="text-justify text-white mt-3 mb-3">{{descriptionProduct}}</p>
        </div>
    </div>
    <!-- carrousel -->
    <!-- Carrousel n°2 -->
    <div class="mt-5 mb-5">
        <!-- <div class="container" style="overflow: auto;">
            <div style="height: 200px; width: calc(320px * 7);">
                <div style="display: inline-block; background-color: green; margin: 10px; width: 300px; height: 180px;" (click)="getProduct(1)"></div>
                <div style="display: inline-block; background-color: green; margin: 10px; width: 300px; height: 180px;" (click)="getProduct(2)"></div>
                <div style="display: inline-block; background-color: green; margin: 10px; width: 300px; height: 180px;" (click)="getProduct(3)"></div>
                <div style="display: inline-block; background-color: green; margin: 10px; width: 300px; height: 180px;" (click)="getProduct(4)"></div>
                <div style="display: inline-block; background-color: green; margin: 10px; width: 300px; height: 180px;" (click)="getProduct(5)"></div>
                <div style="display: inline-block; background-color: green; margin: 10px; width: 300px; height: 180px;" (click)="getProduct(6)"></div>
                <div style="display: inline-block; background-color: green; margin: 10px; width: 300px; height: 180px;" (click)="getProduct(7)"></div>
            </div>
        </div> -->

        <!-- carrousel n°1 -->
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card" (click)="getProduct(1)">
                            <div class="picsum-img-wrapper">
                                <img class="w-100"
                                    src="../../../../../assets/img/sav-pieces-détachees/PIECES ORIGINE - FILTRE A AIR.jpg"
                                    alt="image sav">
                            </div>
                            <div class="carousel-caption" (click)="getProduct(1)">
                                <h3 class="bg-danger" style="opacity: 80%">filtres à air</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card" (click)="getProduct(2)">
                            <div class="picsum-img-wrapper">
                                <img class="w-100"
                                    src="../../../../../assets/img/sav-pieces-détachees/PIECES ORIGINE - FILTRE A HUILE.jpg"
                                    alt="image sav">
                            </div>
                            <div class="carousel-caption">
                                <h3 class="bg-danger" style="opacity: 80%" (click)="getProduct(2)">Filtre à huile</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card" (click)="getProduct(3)">
                            <div class="picsum-img-wrapper">
                                <img class="w-100" src="../../../../../assets/img/sav-pieces-détachees/COLORIS.jpg"
                                    alt="image sav">
                            </div>
                            <div class="carousel-caption">
                                <h3 class="bg-danger" style="opacity: 80%" click)="getProduct(3)">Batterie</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card" (click)="getProduct(4)">
                            <div class="picsum-img-wrapper">
                                <img class="w-100"
                                    src="../../../../../assets/img/sav-pieces-détachees/PIECES ORIGINE - FREINS.jpg"
                                    alt="image sav">
                            </div>
                            <div class="carousel-caption" (click)="getProduct(4)">
                                <h3 class="bg-danger" style="opacity: 80%" >Plaquette de freins</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card" (click)="getProduct(5)">
                            <div class="picsum-img-wrapper">
                                <img class="w-100"
                                    src="../../../../../../../assets/img/sav-pieces-détachees/PIECES ORIGINE - KIT CHAINE.jpg"
                                    alt="image sav">
                            </div>
                            <div class="carousel-caption" (click)="getProduct(5)">
                                <h3 class="bg-danger" style="opacity: 80%" >Kits chaîne</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card" (click)="getProduct(6)">
                            <div class="picsum-img-wrapper">
                                <img class="w-100"
                                    src="../../../../../assets/img/sav-pieces-détachees/PIECES ORIGINE - COURROIE.jpg"
                                    alt="image sav">
                            </div>
                            <div class="carousel-caption" (click)="getProduct(6)">
                                <h3 class="bg-danger" style="opacity: 80%" >Courroie de transmission</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card" (click)="getProduct(7)">
                            <div class="picsum-img-wrapper">
                                <img class="w-100" src="../../../../../assets/img/sav-pieces-détachees/bougie.jpg"
                                    alt="image sav">
                            </div>
                            <div class="carousel-caption" (click)="getProduct(7)">
                                <h3 class="bg-danger" style="opacity: 80%" >Bougie</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="picsum-img-wrapper" (click)="getProduct(8)">
                                <img class="w-100"
                                    src="../../../../../assets/img/sav-pieces-détachees/PIECES ORIGINE - COURROIE.jpg"
                                    alt="image sav">
                            </div>
                            <div class="carousel-caption">
                                <h3 class="bg-danger" style="opacity: 80%" >Second slide label</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>

<app-footer></app-footer>