<app-nav-business></app-nav-business>
<app-nav-products></app-nav-products>

<h1 class="text-center mt-3 mb-3">Tournées dans les îles</h1>
<div class="back-island-tours" style="width: 100%; height: 60vh;">
</div>

<div class="container">
    <div class="row">
        <div class="text-justify mt-5 mb-5">
            <p>
                Afin de répondre au mieux aux besoins de nos clients, Comptoir Polynésien- Yamaha Tahiti s’engage à se rendre une fois par an* dans les îles des archipels éloignés.
                Lors de ces déplacements, nos équipes technico-commerciales sont à la disposition des clients pour les révisions des moteurs et des waverunners de la marque Yamaha.
                Pour connaître le calendrier de la tournée des îles, rendez-vous sur notre page facebook.
                <br><br>
            </p>
            <p>
              <i>*en fonction des disponibilités</i>  
            </p>
        </div>
    </div>
</div>

        
<app-footer></app-footer>