<app-nav-business></app-nav-business>
<app-nav-products></app-nav-products>

<h1 class="text-center mt-3 mb-3">Marché Pro</h1>
<img src="../../../../assets/img/marché pro.jpg" style="width: 100%;" alt="">
<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="text-justify mt-5">
                Le service « utilisateurs pro » a été spécifiquement mis en place chez Comptoir Polynésien – Yamaha Tahiti pour fournir des solutions adaptées pour les professionnels évoluant dans un environnement toujours plus exigeant.
                <br><br>
                Des motos et scooters, Waverunner et moteurs hors-bord Yamaha sont d’ores et déjà en service sur le Fenua et à travers le monde. Conçus pour fournir les performances dont vous avez besoin et construits selon les normes et spécifications les plus élevées, les produits Yamaha ont gagné leur réputation de qualité afin que vous puissiez compter sur eux en cas d’urgence, peu importe les conditions et le lieu où vous vous trouvez.
                <br><br>
                L’engagement de Comptoir Polynésien – Yamaha Tahiti est total et ne se limite pas à la fourniture de votre meilleur outil de travail. En effet, nous fournissons également un excellent soutien grâce à une équipe de professionnels dédiée, pour vous conseiller et vous permettre d’investir en toute confiance.
                <br><br>
                Afin de vous faire une proposition sur mesure et adaptée à votre secteur d’activité, contactez notre commerciale :
            </p>
            <div class="text-center">
                <button class="btn btn-danger mt-3 mb-5" type="button">
                    <a class="mail" href="mailto:mailto:contact@comptoirpolynesien.pf" style="color: #fff">Contactez nous</a>
                </button>
            </div>
        </div>
    </div>
</div>


        
<app-footer></app-footer>